<% @page_title =  @description %>
<main class="max-w-screen-lg mx-auto mt-10 my-12 px-4 md:px-12 relative pb-6 pt-4">
    <div>
        <%= image_tag(@image_name, class: "block" ) %>
    </div>
    <div>
        <%= @description %>
    </div>
</main>