<% @page_title =  @description %>
<main class="max-w-screen-lg mx-auto mt-10 my-12 px-4 md:px-12 relative pb-6 pt-4">
    <div>
        <%= image_tag(@my_list.image.url, class: "block" ) %>
    </div>
    <div>
        <%= @description %>
        <% if @description_twitter %>
        <div class="text-center mt-5">
            <%= link_to "https://twitter.com/intent/tweet?text=#{@description_twitter}", target: :_blank, rel: "noopener noreferrer" ,class:"text-white text-sm font-bold md:text-lg" do%>
            <div class="py-3 px-5 rounded w-72 mx-auto" , id="twitter_btn">
                <i class="fab fa-2x fa-twitter align-middle"></i>
                <span class="px-3">Twitterにシェア</span>
            </div>
            <% end %>
        </div>
        <% end %>
        <div class="text-center mt-10">
            <%= link_to "あなたもアーティストを選んでみる" ,myFavArtistLists_path ,class:"bg-red-300 text-white text-sm font-bold py-3 px-5 rounded md:text-lg"%>
        </div>
        <% if flash[:notice] %>
        <p>フラッシュが存在します</p>
        <% end %>
    </div>
</main> 